
.header{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #333;
    position: fixed;
    left: 0;
    right: 0;
    height: 70px;
    font-size: 18px;
    z-index: 8;
}
a{
    color: #333 !important;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 50px;
    margin-right: 5px;
}
ul{
    display: flex;
    align-items: center;
}
ul li{
    padding: 0 10px;
}
.content{
    padding-top: 70px;
}
.home{
    background: #8cb46d;
    color: #fff;
    padding: 80px 0 0;
}
.home .title{
    margin-bottom: 30px;
    text-align: center;
    font-size:40px;
    font-weight: bold;
}
.home .conts{
    width: 50%;
   margin: 0 auto;
   font-size:24px;
   font-weight: bold;
   min-height: 38vh;
   line-height: 60px;
}

.but{
    padding: 20px 0;
    text-align: center;
}
.ant-btn-primary,.ant-btn-primary:focus, .ant-btn-primary:hover{
    border-color: #ede563 !important;
    background: #ede563 !important;
    color: #333 !important;
}
.ant-btn-round.ant-btn-lg{
    width: 300px;
    height: 70px !important;
    font-size: 20px !important;
}
.img{
    display: block;
    width: 100%;
}
.mid{
    padding: 120px 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mid .right{
 margin-left: 10%;
 text-align: center;
 flex: 1;
}
.mid .title{
    margin-bottom: 30px;
    text-align: center;
    font-size:40px;
    font-weight: bold;
}
.mid .conts{

   font-size:24px;
   font-weight: bold;
   min-height: 38vh;
   line-height: 60px;
  
}
 .img1{
  width: 400px !important;
  height: 400px;
  display: block;
}
.bot{
    padding: 120px 0;
}
.bot .title{
    margin-bottom: 30px;
    text-align: center;
    font-size:40px;
    font-weight: bold;
}
.bot .conts{
    width: 50%;
   margin: 0 auto;
   font-size:24px;
   font-weight: bold;
   min-height: 38vh;
   line-height: 60px;
}
